* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
}

.nav-item {
    list-style: none;
}

.min-vh-80 {
    min-height: 80vh;
}

.max-vh-80 {
    max-height: 80vh;
}



.gallery-item>i {
    cursor: pointer;
}

.masthead {
    text-align: center;
    color: #056839;
    background-image: url("./imgs/drywall.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 2rem;
    text-shadow: -2px 2px 5px white,
        2px 2px 5px white,
        2px -2px 5px white,
        -2px -2px 5px white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.masthead-subheading {
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.underlineAnimate {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.underlineAnimate::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underlineAnimate:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

#contact {
    background-image: url("./imgs/map.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}




/* phone  */
@media only screen and (max-width: 480px) {
    .res-w {
        width: 130vw;
    }

    #nav-logo {
        width: 5rem;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .masthead {
        padding-top: 10rem;
        padding-bottom: 8rem;
    }

    .masthead-heading {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 1.75rem;
    }

    .masthead-subheading {
        font-size: 1.5em;
    }

    .img-fluid {
        max-height: 1rem;
    }

    .logo-section {
        margin-top: 1rem;
    }

    .service-section,
    .gallery {
        padding-top: 8rem;
    }

    .service {
        max-height: 5rem;
    }

    .footer {
        font-size: .5rem;
    }

    .btn-social>img {
        height: 1rem;
    }
    
    .bootstrap-img {
        max-height: .5rem;
    }
}

/* tablet  */
@media only screen and (min-width: 481px) {
    .res-w {
        width: 115vw;
    }

    #nav-logo {
        width: 6em;
    }

    .navbar-brand {
        font-size: 1.25rem;
    }

    .masthead {
        /* width: 115vw; */
        padding-top: 10rem;
        padding-bottom: 8rem;
    }

    .masthead-heading {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .masthead-subheading {
        font-size: 1.75rem;
    }

    .img-fluid {
        max-height: 2rem;
    }

    .logo-section {
        margin-top: 1rem;
    }

    .service-section,
    .gallery {
        padding-top: 8rem;
    }

    .service {
        max-height: 8rem;
    }
    .subhead {
        margin-top: 2.6rem ;
    }

    .footer {
        font-size: .5rem;
    }

    .btn-social>img {
        height: 1rem;
    }
    
    .bootstrap-img {
        max-height: .5rem;
    }
}

/* pc  */
@media only screen and (min-width: 1024px) {
    .res-w {
        width: 100vw;
    }

    #nav-logo {
        width: 9rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .masthead {
        width: 100vw;
        padding-top: 20rem;
        padding-bottom: 12.5rem;
    }

    .masthead-subheading {
        font-size: 2.25rem;
    }

    .img-fluid {
        max-height: 3rem;
    }

    .logo-section {
        margin-top: 3rem;
    }

    .service-section,
    .gallery {
        padding-top: 11rem;
    }

    .service {
        max-height: 12rem;
    }
    
    .subhead {
        margin: 3rem 0;
    }
    .footer {
        font-size: 1rem;
    }

    .btn-social>img {
        height: 2rem;
    }
    
    .bootstrap-img {
        max-height: 1rem;
    }
}